<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ML</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">

    <link rel="stylesheet" href="/public/css/aos.css">

    <link rel="stylesheet" href="/public/css/ionicons.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/public/css/flaticon.css">
    <link rel="stylesheet" href="/public/css/icomoon.css">
    <link rel="stylesheet" href="/public/css/style.css">

  </head>
  <body>


      <div class="hero-wrap js-fullheight">
        <row class="container">
          
            <div class="row " data-scrollax-parent="true">

              <% data.forEach(function(d) { %>
                <div class="border m-5 col-md-3 " data-scrollax=" properties: { translateY: '70%' }">
                    <img id="imgID" src="/public/data/<%= d.folder_name%>/<%= d.image_name %>" height="300px"  width="300px" alt="Smiley_face">
                    <p class="text-center"><%= d.folder_name%>e</p>
      
                </div>

              <% } ) %>
            
                
            </div>

        </row>

    </div>
     


    



  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/jquery.easing.1.3.js"></script>
  <script src="/public/js/jquery.waypoints.min.js"></script>
  <script src="/public/js/jquery.stellar.min.js"></script>
  <script src="/public/js/owl.carousel.min.js"></script>
  <script src="/public/js/jquery.magnific-popup.min.js"></script>
  <script src="/public/js/aos.js"></script>
  <script src="/public/js/jquery.animateNumber.min.js"></script>
  <script src="/public/js/bootstrap-datepicker.js"></script>
  <script src="/public/js/particles.min.js"></script>
  <script src="/public/js/particle.js"></script>
  <script src="/public/js/scrollax.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- <script  src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->


  <script >
    $('#genderCheck').change(function() {
        if(this.checked) {
          $('#imgID').attr("src", "face.gif");
          $("#genderID").html("MALE");
          // genderID.innerText = "MALE";

          console.log('checked')
        }
        else{
          $('#imgID').attr("src", "female.gif");
          $("#genderID").html("FEMALE ");
          // genderID.innerText = "FEMALE";

          console.log('not')
        }        
    });


  function myFunction() {

    good_attr = ['Arched_Eyebrows', 'Attractive', 'Bags_Under_Eyes',
       'Bald', 'Bangs', 'Big_Lips', 'Big_Nose', 'Black_Hair', 'Blond_Hair',
       'Blurry', 'Brown_Hair', 'Bushy_Eyebrows', 'Chubby', 'Double_Chin', 'Goatee', 'Gray_Hair', 'High_Cheekbones',
       'Male', 'Mouth_Slightly_Open', 'Mustache', 'Narrow_Eyes', 'No_Beard',
       'Oval_Face', 'Pale_Skin', 'Pointy_Nose', 'Receding_Hairline',
       'Rosy_Cheeks', 'Sideburns', 'Smiling', 'Straight_Hair', 'Wavy_Hair',
       'Wearing_Earrings', 'Young']

    attrDict = {'Arched_Eyebrows':0, 'Attractive':0, 'Bags_Under_Eyes':0,
       'Bald':0, 'Bangs':0, 'Big_Lips':0, 'Big_Nose':0, 'Black_Hair':0, 'Blond_Hair':0,
       'Brown_Hair':0, 'Bushy_Eyebrows':0, 'Chubby':0, 'Double_Chin':0, 'Goatee':0, 'Gray_Hair':0, 
       'High_Cheekbones':0,'Mouth_Slightly_Open':0, 'Mustache':0, 'Narrow_Eyes':0, 'No_Beard':0,
       'Oval_Face':0, 'Pale_Skin':0, 'Pointy_Nose':0, 'Receding_Hairline':0,
       'Rosy_Cheeks':0, 'Sideburns':0, 'Smiling':0, 'Straight_Hair':0, 'Wavy_Hair':0,
       'Wearing_Earrings':0, 'Young':0}
   

    for(i=0 ; i<good_attr.length ; i++ ){
      val = '#'+good_attr[i]
      // console.log(val)

      if('#genderCheck'){

      }

      if($(val).checked) {
          console.log("True   ",val)
      }  
      else{
        console.log("False   ",val)
      }

    }   
    
  }
  </script>


</body>
</html>